/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
}
.singout {
    border: none;
    background: transparent;
}